/* 
Colors
#1f2937
#f9faf8
#e5e7eb
#f9faf8
#3882f6
#1f2937
#e5e7eb
#1f2937

Fonts: font-family: 'Poppins', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

header, footer {
    background-color: #1f2937;
    color: #fff;
}

.container {
    width: 120rem;
    margin: 0 auto;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    margin-bottom: 6.8rem;
}

.nav {
    list-style-type: none;
    display: flex;
    gap: 5rem;
}

.logo {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #f9faf8;
}

.links {
    font-size: 1.8rem;
    text-decoration: none;
    border-bottom: 2px solid #3882f6;
    color: #e5e7eb;
    padding-bottom: 2px;
    /* text-transform: lowercase; */
    /* font-weight: 700; */
}

/* END TOP HEADER */

.hero {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-bottom: 6.8rem;
    gap: 2.4rem;
}

h1 {
    font-size: 5.8rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero p {
    font-size: 1.8rem;
    color: #e5e7eb;
    line-height: 1.6;
    margin-bottom: 5.8rem;
}

.btn {
    padding: 1rem 3rem;
    background-color: #3882f6;
    border: none;
    cursor: pointer;
    color: #e5e7eb;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}

.hero-img img{
    width: 400px;
}

/* END HERO */

.information {
    margin: 8rem 0;
}

h2 {
    text-align: center;
    font-size: 3.6rem;
    color:#1f2937;
    margin-bottom: 5rem;
}

.info-container {
    width: 110rem;
    margin: 0 auto;
    display: flex;
    gap: 5rem;
}

.info-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.info-box p {
    font-size: 1.6rem;
}

.info-box img {
    width: 80px;
}

/* END INFO */

.quotes {
    background-color: #e5e7eb;
    padding: 8rem 0;
}

.quotes-box {
    width: 90rem;
    margin: 0 auto;
}

blockquote {
    font-size: 3.6rem;
    color: #1f2937;
    font-style: italic;
}

.quotes-author {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: right;
    margin-top: 3rem;
}

/* END quot */

.call-action {
    width: 120rem;
    margin: 8rem auto;
    background-color: #3882f6;
    border-radius: 5px;
}

.call-container {
    display: flex;
    padding: 3rem 8rem;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

h4 {
    font-size: 2.4rem;
}

.left p {
    font-size: 1.4rem;
}

.right .btn {
    border: 1px solid #fff;
}

footer {
    padding: 3rem;
    font-size: 1.6rem;
    text-align: center;
}